[Unit]
Description=Woodshop Master Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/woodshop
ExecStart=/usr/bin/authbind --deep /home/pi/woodshop/venv/bin/python /home/pi/woodshop/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
