[Unit]
Description=Woodshop Master Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=dietpi
WorkingDirectory=/home/dietpi/woodshop
ExecStart=/usr/bin/authbind --deep /home/dietpi/woodshop/venv/bin/python /home/dietpi/woodshop/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
